<div class="instructions">
  <button class="instructions__button" (click)="openInstructions()">> Playing instructions</button>
</div>

<footer class="footer">
  <div class="attribution">
    <!-- Coded by{' '} -->
    <a
      href="https://github.com/topratiksharma/rock-paper-scissors"
      target="_blank"
      rel="noreferrer"
    >
      Pratik Sharma
    </a>
    <!-- {' '}{' '} -->
    [
    <a
      class="linkedin"
      href="https://www.linkedin.com/in/sharmapratik/"
      target="_blank"
      rel="noreferrer"
    >
      Linkedin
    </a>
    ]
  </div>
</footer>